@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;800&display=swap');

:root {
    --primary-color: #4a4a4a;
    --secondary-color: rgb(252, 197, 17);
    --secondary-color-hover: rgb(255, 198, 75);
    --tertiary-color: #1a1a1a;
    --quaternary-color: #f4f4f4;
}

html {
    font-family: 'Sen', sans-serif;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    line-height: 1.7rem;
    box-sizing: border-box;
}

#logo-area {
    position: fixed;
    top: 0;
    width: 40%;
    height: 100px;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    background-color: #05070d;
    text-align: center;
    border-radius: 0 0 10px 10px;
    z-index: 2;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    line-height: 1.3em;
}

#logo {
    margin: 1rem 2rem;
}

#list-wrapper {
    position: relative;
    top: 200px;
    width: 60%;
}

#names-list {
    font-size: 1.2rem;
    line-height: 3em;
    text-align: center;
    z-index: 1;
}

#reload-btn {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='%233a3a3a'%3E%3Cpath fill-rule='evenodd' d='M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z' clip-rule='evenodd' /%3E%3C/svg%3E");
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--secondary-color);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    border: none;
}

#reload-btn:hover {
    background-color: var(--secondary-color-hover);
    transition: all 0.3s ease-in-out;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    #list-wrapper {
        width: 80%;
    }

    #logo-area {
        width: 100%;
    }
}